.animate__clear {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: visible;
}

.animate__animated {
  animation-duration: 0.3s !important;
}

// switch-left
.switch-left-leave-active, .switch-left-enter-active {
  transition: all 0.3s;
}

.switch-left-leave-from {
  opacity: 1;
}

.switch-left-leave-to {
  opacity: 0.5;
  transform: translateX(-100%);
  .animate__clear();
}

.switch-left-enter-from {
  transform: translateX(100%);
}

.switch-left-enter-to {
  .animate__clear();
}

// switch-left
.switch-right-leave-active, .switch-right-enter-active {
  transition: all 0.3s;
}

.switch-right-leave-from {
  opacity: 1;
}

.switch-right-leave-to {
  opacity: 0.5;
  transform: translateX(100%);
  .animate__clear();
}

.switch-right-enter-from {
  transform: translateX(-100%);
}

.switch-right-enter-to {
  .animate__clear();
}


